body {
  font-family: Helvetica Neue;
}

h1 {
  padding: 5%;
}

p, form {
  padding: 2%;
}

a > .btn {
  margin: 1%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: center;
}

body {
  background-color: #b4d0db;
  text-align: center;
}
