<!DOCTYPE html>
<html lang="en">
<title>Geocoder</title>
  <head>
    <link rel="stylesheet" href="../static/main.css">
  </head>
  <body>
    <div class="container">
      <h1>GEOCODER</h1>
      <p>Upload your CSV file. The values containing addresses should be in a column named "Address" or "address"</p>
      <form action="{{url_for('success_table')}}" method="POST" enctype="multipart/form-data">
        <input type="file" accept=".csv" name="file" />
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    <div class="output">
      {{text|safe}}
      {% include btn ignore missing %}
    </div>
    </body>
</html>
